DATABASE_URL=postgresql://user:pwd@ip:port/database

MINIO_ENDPOINT=domain:port
MINIO_DEFAULT_BUCKET_NAME=fun-quiz-dev
MINIO_DEFAULT_BUCKET_PATH=common
MINIO_ACCESS_KEY=xxx
MINIO_SECRET_KEY=xxx
MINIO_SECURE=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6376
REDIS_PASSWORD=xxx
REDIS_DB=15
